* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Courier New", Courier, monospace;
}
body {
  background-color: #cfc8c8;
}

article {
  background-color: whitesmoke;
  margin: 3rem auto;
  padding: 1rem;
  width: 90vw;
  max-width: 25rem;
  max-height: 60rem;
  border-radius: 4px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #222;
  font-size: 2rem;
  border-bottom: 1px solid #cfc8c8;
  padding: 1rem;
}
h3 {
  text-align: center;
  letter-spacing: 4px;
  margin-top: 0.5rem;
}
a {
  text-decoration: none;
  color: #222;
}
a:hover {
  color: #d17979;
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 20rem;
  border-radius: 4px;
}
p {
  margin: 1rem auto;
  background-color: #d17979;
  border-radius: 10px;
  padding: 0.5rem;
  color: #222;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 600;
}
